* {
    box-sizing: border-box;
}

/* header Start */
.header {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    /* background: rgb(63,163,255);
    background: linear-gradient(90deg, rgba(63,163,255,1) 0%, rgba(255,211,34,1) 100%); */
}

.link-logo {

    margin-left: 100px;
}

.logo-img {

    width: 16vw;
}

.nav-list {

    margin-right: 100px;
}

.nav-option {

    margin: 0px 30px 0px 30px;
    text-decoration: none;

}
/* header End */



/* banner Start */
.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}
/* banner End */



/* background Start */
.bg-minigame {

    width: 100%;
    height: 100%;
    margin-bottom: 4vh;
    
    background-color: #fff;
}

.bg-about {
    width: 100%;
    background-color: #FAECC9;
    padding: 20vh 0 4vh 0;
}
/* background End */



/* minigame section Start */
.minigame-text {
    font-family: 'Bungee', cursive;
    font-size: 4vw;
    text-align: center;
    margin-top: 10vh;
}

.container {

    height: 52vw;
    width: 100%;
    /* background-color: #000; */
    display: flex;
}

.container-card {

    width: 60vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 4px solid #000; */
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 2vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.container-card::-webkit-scrollbar{

    display: none;
}

.card {

    border: 2px solid #000;
    width: 27vw;
    height: 90%;
    /* border-radius: 4%; */
    position: relative;
    transition: box-shadow 0.2s;
    
}

.card:hover {

    box-shadow: 12px 12px 0px 1px rgba(0, 0, 0, 1);
}

.card-text {

    font-size: 32px;
    border-radius: 0px 0px 20px 0px;
    padding: 0px 2px 0px 2px;
    margin: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(44, 44, 44);
    font-family: 'Bungee', cursive;
    
}

.card-img {

    width: 100%;
    height: 100%;
    /* border-radius: 4%; */
    object-fit: cover;
}

.btnleft {

    border: 2px solid #000;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    position:relative;
    top: 50%;
    left: 8%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnleft i {

    font-size: 24px;
    
}

.btnright i {

    font-size: 24px;
}
.btnright {

    border: 2px solid #000;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 50%;
    right: 8%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* minigame section End */



/* about section Start */
.about-grid {
    line-height: 4vw;
    margin: auto;
    width: 70%;

    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4vw;
    row-gap: 4vh;
}

.about-title {
    font-family: 'Bungee', cursive;
    font-size: calc(100% + 2vw);
    margin-left: 16vw;
}

.about-text{
    font-family: 'Bungee', cursive;
    font-size: 2vw;
}

.about-img {
    width: 100%;
}

.about-des {
    font-family: 'Biryani', sans-serif;
    font-size: 2vw;
}

.about-ending{
    font-family: 'Press Start 2P';
    font-size: 2vw;
    color: #C56914;
    padding: 8vh 0 4vh 0;

    text-shadow: 5px 7px 0px rgba(0, 74, 184, 0.5);
}
/* about section End */



/* footer Start */
/* upperfooter Start */
.upper-footer{
    width: 100%;
    background: #2C2C2C;;

    font-size: 2vw;
    padding: 2vh 0 2vh 0;
}
/* upperfooter End */

/* lowerfooter Start */
.lower-footer{
    width: 100%;
    background: #434343;
    padding: 4vh;
}
#gamename ul{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
/* lowerfooter End */
/* footer End */





















#icon-more {

    position: fixed;
    top: 90vh;
    left: 50vw;
    z-index: 10;
    font-size: 24px;
    color: rgb(255, 14, 14);
    animation: more-animate 3s infinite;
}

@keyframes more-animate {
    0% {top: 90vh;}
    50% {top: 80vh;}
    100% {top: 90vh;}
}



