* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
}

/* header Start */
.header {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    transition: 0.2s;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    /* background: rgb(63,163,255);
    background: linear-gradient(90deg, rgba(63,163,255,1) 0%, rgba(255,211,34,1) 100%); */
}

.link-logo {
    margin-left: 4vw;
}

.logo-img {
    width: 16vw;
}

.nav-list {
    margin-right: 4vw;
}

.nav-option {
    font-family: 'Inter';
    font-size: 1.2vw;
    margin: 0 3vw 0 3vw;
    text-decoration: none;
    color: #444444;
    transition: ease-in-out 0.2s;
}
.nav-option:hover{
    color: #df483b;
    font-size: 1.6vw;
}
/* header End */



/* banner Start */
.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}
/* banner End */



/* background Start */
.bg-minigame {

    width: 100%;
    height: 100%;
    margin-bottom: 4vh;
    
    background-color: #fff;
}

.bg-about {
    width: 100%;
    background-color: white;
    padding: 8vw 0 4vw 0;
}
/* background End */



/* minigame section Start */
.minigame-text {
    font-family: 'Bungee', cursive;
    font-size: 3.2vw;
    text-align: center;
    margin-top: 10vh;
}

.container {

    height: 48vw;
    width: 100%;
    /* background-color: #000; */
    display: flex;
}

.container-card {

    width: 60vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 4px solid #000; */
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 2vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.container-card::-webkit-scrollbar{

    display: none;
}

.card {

    border: 2px solid #000;
    width: 27vw;
    height: 90%;
    /* border-radius: 4%; */
    position: relative;
    transition: box-shadow 0.2s;
    
}

.card:hover {

    box-shadow: 12px 12px 0px 1px rgba(0, 0, 0, 1);
}

.card-text {

    font-size: 2vw;
    border-radius: 0px 0px 20px 0px;
    padding: 0px 2px 0px 2px;
    margin: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(44, 44, 44);
    font-family: 'Bungee', cursive;
    
}

.card-img {

    width: 100%;
    height: 100%;
    /* border-radius: 4%; */
    object-fit: cover;
}

.btnleft{
    border: 2px solid #000;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    position:relative;
    top: 50%;
    left: 8%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnright {
    border: 2px solid #000;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 50%;
    right: 8%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:active {

    background-color: black;
}

.btnleft i {
    font-size: 3vw;
    color: #000;
    padding-top: 2vw;
    transition: ease-in-out 0.2s;
}

.btnright i {
    font-size: 3vw;
    color: #000;
    padding-top: 2vw;
    transition: ease-in-out 0.2s;
}
.btnleft i:hover {
    color: rgb(228, 49, 49);
}

.btnright i:hover {
    color: rgb(228, 49, 49);
}
/* minigame section End */



/* about section Start */
.about-grid {
    line-height: 4vw;
    margin: auto;
    width: 70%;

    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4vw;
    row-gap: 4vw;
}

.about-title {
    font-family: 'Bungee', cursive;
    font-size: calc(100% + 2vw);
    margin-left: 16vw;
    text-decoration: underline;
    text-decoration-color: rgba(255, 14, 14,0.8);
}

.about-text{
    font-family: 'Bungee', cursive;
    font-size: 1.8vw;
}

.about-img {
    width: 100%;
}

.about-des {
    font-family: 'Biryani', sans-serif;
    font-size: 1.4vw;
}

.about-ending{
    font-family: 'Press Start 2P';
    font-size: 2vw;
    color: #C56914;
    padding: 8vw 0 4vw 0;

    text-shadow: 5px 7px 0px (0, 74, 184, 0.5);
}
/* about section End */



/* footer Start */
/* upperfooter Start */
.upper-footer {
    width: 100%;
    height: 16vh;
    background: #2C2C2C;
    font-family: 'Inter';
    font-size: 1vw;
    padding: 2vh 0 2vh 0;
    color: #f5f5f5;
}
.fa-brands,.fa-solid{
    font-size: 1.8vw;
    padding: 1vw .4vw 2vw .2vw ;
    color: #f5f5f5;
    transition: ease-in-out 0.2s;
}
.fa-brands:hover{
    font-size: 2vw;
}
.fa-facebook:hover{
    color: #4267B2;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-square-instagram:hover{
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-discord:hover{
    color: #7289da;
}
.fa-envelope:hover{
    color: #F15245;
    font-size: 2vw;
    transition: 0.5s;
}
/* upperfooter End */

/* lowerfooter Start */
.lower-footer{
    width: 100%;
    background: #434343;
    padding: 1vw 4vw 2vw 4vw;
}
.lower-footer li,ul,h3{
    list-style-type: none;
    margin: 0;
    font-size: 1.2vw;
}
.lower-footer img{
    width: 8vw;
    padding-right: 2vw;
}
#gamename{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2vw;
}
/* lowerfooter End */
/* footer End */





















#icon-more {

    position: fixed;
    top: 90vh;
    left: 50vw;
    z-index: 10;
    font-size: 24px;
    color: rgb(255, 14, 14);
    animation: more-animate 3s infinite;
}

@keyframes more-animate {
    0% {top: 90vh;}
    50% {top: 80vh;}
    100% {top: 90vh;}
}




